*{
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    
}

/* .bg-one{
    background-image:url(./images/bg-pattern-top.svg);
    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    position: fixed;
    bottom: 200px;
    right: 600px;
}
.bg-two{
   background-image: url(./images/bg-pattern-bottom.svg);
   background-position: right bottom;
   background-repeat: no-repeat;
   height: 1000px;
   width: 1000px;
   position: fixed;
   left: 600px;
   top: 300px;
} */
.font-style-two{
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}

.container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
background-color: hsl(185, 75%, 39%);
background-image: url("images/bg-pattern-top.svg"),
url("images/bg-pattern-bottom.svg");
background-repeat: no-repeat;
background-size: 133vh;
background-position: right 52vw top -60vh, 40vw 48vh;
}

/* Main */
main{
    background-image:url(./images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-color: white;
    text-align: center;
    width: 340px;
    height: 360px;
    position: fixed; 
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    border-radius: 10px;
}

main img {
    border-radius: 100%;
    border: solid 5px white;
}

/* Header */
header{
    margin: 87px 0 20px 0;
    border-bottom: .1px solid hsl(0, 0%, 59%);
}

header h1{
    margin-top: 18px;
}

header h1 span{
    margin-left: 3px;
}
header h3{
    font-size: 14px;
    margin: 12px 0 20px;
}

/* Footer */
footer{
    display: flex;
    justify-content: space-around;
    margin: 15px 20px 10px;
    
}

article h2{
    margin-bottom: 0;
}

article h3{
    font-size: 10px;
    letter-spacing: 1.5px;
    margin-top: 10px;
}


/* Frontend Information */
.attribution { 
    font-size: 11px; 
    text-align: center;
    position: absolute;
    bottom: 50px;  
}

 .attribution a { 
     color: hsl(228, 45%, 44%);

}